spring:
  config:
    import: ""
  cloud:
    nacos:
      config:
        import-check:
          enabled: false
  data:
    redis:
      host: localhost
      port: 6379
      database: 0
      timeout: 2000ms
      password: 123456
redis:
  message:
    channels:
      - "test-channel"
